---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: oci-flexvolume-driver
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: oci-flexvolume-driver
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: oci-flexvolume-driver
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind:  ClusterRole
  name: oci-flexvolume-driver
subjects:
- kind: ServiceAccount
  name: oci-flexvolume-driver
  namespace: kube-system
